numpy==1.26.4
openai==1.78.0
tenacity==8.2.3
tiktoken==0.6.0
huggingface-hub==0.31.1
tokenizers==0.15.2
transformers==4.38.2
pandas==2.2.0
scikit-learn==1.4.0
bitsandbytes==0.45.5
datasets==2.14.7
sentencepiece==0.1.99
peft==0.6.2
evaluate==0.4.1
trl==0.7.1
protobuf==4.25.2
accelerate==0.27.2
